{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}

    <h2>Présentation: Les Routes</h2>
    <p>
        <a href="{{ path('home_index') }}">Revenir à la page d'accueil</a>
    </p>

    <p>Une route permet de donner accès à un controller</p>
{% endblock %}
