{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h2>Administration</h2>

    <p>Bienvenue sur notre page d'administration!</p>

{% endblock %}
