{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}

    <h2>Cours POO</h2>

    <h3>Polymorphisme</h3>

    <p>{{ message | raw }}</p>

    <p>{{ message2 | raw }}</p>

    <h3>Interface</h3>

{% endblock %}
